.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.log
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
venv/
env/
build/
dist/
*.egg-info/
pytest_cache/
.pytest_cache/
secrets/*
!secrets/.gitkeep
airflow.cfg
airflow.db
unittests.cfg
webserver_config.py
airflow-worker.pid
standalone_admin_password.txt
logs/*
!logs/.gitkeep
chk/
data/checkpoints/
spark-warehouse/
metastore_db/
derby.log
eventLog/
postgres_data/
metabase_data/
data/bronze/**/*.json
data/bronze/**/*.json.checksum
data/bronze/**/*.zip
data/bronze/**/*.gz
data/silver/*
!data/silver/.gitkeep
data/gold/*
!data/gold/.gitkeep
src/bronze/
src/silver/
src/gold/
temp/
tmp/
.ipynb_checkpoints/