version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: pizza_postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: metabase_db
    ports:
      - "5432:5432"  
    volumes:
      - postgres_data:/var/lib/postgresql/data 

  metabase:
    image: metabase/metabase:latest
    container_name: pizza_metabase
    restart: always
    ports:
      - "3000:3000"  
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase_db
      MB_DB_PORT: 5432
      MB_DB_USER: user
      MB_DB_PASS: pass
      MB_DB_HOST: postgres 
    depends_on:
      - postgres

volumes:
  postgres_data: